//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&sk { release-after-ms = <60000>; };

/ {
    combos {
        compatible = "zmk,combos";

        switch_en_combo {
            bindings = <&switch_en>;
            key-positions = <2 3>;
            layers = <0 1>;
        };

        switch_ru_combo {
            bindings = <&switch_ru>;
            key-positions = <6 7>;
            layers = <0 1>;
        };

        soft_sign {
            bindings = <&kp RBKT>;
            key-positions = <27 28>;
            layers = <1>;
        };

        yo {
            bindings = <&kp GRAVE>;
            key-positions = <3 4>;
            layers = <1>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <4>;
        };
    };

    macros {
        lg_en: lg_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N8))>;
            label = "LG_EN";
        };

        lg_ru: lg_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N9))>;
            label = "LG_RU";
        };

        switch_en: switch_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &lg_en>;
            label = "SWITCH_EN";
        };

        switch_ru: switch_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &lg_ru>;
            label = "SWITCH_RU";
        };

        gbspc: gbspc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(HOME) &kp BSPC>;
            label = "GBSPC";
        };

        in_below: in_below {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp LS(RET)>;
            label = "IN_BELOW";
        };

        in_above: in_above {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(RET) &kp UP>;
            label = "IN_ABOVE";
            wait-ms = <0>;
        };

        ruen: ruen {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&lg_en &macro_param_1to1 &kp MACRO_PLACEHOLDER &lg_ru>;
            label = "RUEN";
        };

        enru: enru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&lg_ru &macro_param_1to1 &kp MACRO_PLACEHOLDER &lg_en>;
            label = "ENRU";
        };

        mo_unmod: mo_unmod {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER &kp RALT &kp RGUI &kp RCTRL &kp LSHFT>;

            label = "MO_UNMOD";
            wait-ms = <0>;
            tap-ms = <0>;
        };
    };

    behaviors {
        ins_row: ins_row {
            compatible = "zmk,behavior-mod-morph";
            label = "INSERT_ROW";
            bindings = <&in_below>, <&in_above>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
       &kp Q  &kp W  &kp F     &kp P        &kp B          &kp J        &kp L      &kp U                   &kp Y     &kp APOS
       &kp A  &kp R  &kp S     &kp T        &kp G          &kp M        &kp N      &kp E                   &kp I     &kp O
&kp Q  &kp Z  &kp X  &kp C     &kp D        &kp V          &kp K        &kp H      &kp LBKT                &kp RBKT  &kp FSLH  &kp BSLH
                     &kp LALT  &lt 2 SPACE  &mo_unmod 8    &mo_unmod 3  &kp RSHFT  &lt 6 LS(LA(LC(LGUI)))
            >;
        };

        ru_layer {
            bindings = <
           &kp Q  &kp W  &kp E     &kp R        &kp T          &kp Y        &kp U      &kp I                   &kp O    &kp P
           &kp A  &kp S  &kp D     &kp F        &kp G          &kp H        &kp J      &kp K                   &kp L    &kp SEMI
&kp GRAVE  &kp Z  &kp X  &kp C     &kp V        &kp B          &kp N        &kp M      &kp COMMA               &kp DOT  &kp LBKT  &kp SQT
                         &kp LALT  &lt 2 SPACE  &mo_unmod 9    &mo_unmod 7  &kp RSHFT  &lt 6 LS(LA(LC(LGUI)))
            >;

            label = "RU";
        };

        nav_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "NAVI";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &kp DEL           &kp LC(LS(TAB))    &kp TAB    &kp LC(TAB)      &kp ESC     &kp ESC     &kp HOME   &kp UP    &kp END    &kp DEL
        &sk LGUI          &sk LALT           &sk LCTRL  &sk LSHFT        &kp RET     &kp RET     &kp LEFT   &kp DOWN  &kp RIGHT  &kp BSPC
&trans  &kp LC(LG(LEFT))  &kp LC(LG(RIGHT))  &to 4      &kp PRINTSCREEN  &kp LGUI    &caps_word  &kp PG_UP  &ins_row  &kp PG_DN  &gbspc    &kp C_MENU
                                             &trans     &trans           &trans      &mo 6       &trans     &trans
            >;
        };

        sim_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "SYM";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     !     ┃     @     ┃     #     ┃     $     ┃     %     ┃   ┃     ˆ     ┃     &     ┃     Ü     ┃     '     ┃     "     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     Ä     ┃           ┃    SZ     ┃           ┃           ┃   ┃   MUTE    ┃   YEN     ┃   EURO    ┃  POUND    ┃     Ö     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃  EMAIL1   ┃  EMAIL2   ┃           ┃           ┃           ┃   ┃   VOL-    ┃   VOL+    ┃   LAST    ┃   NEXT    ┃     \     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    GIF    ┃    ADJ    ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
           &kp GRAVE  &kp LT    &kp EQUAL  &kp GT    &kp AT       &enru HASH   &kp LBKT        &kp DQT          &kp RBKT       &kp PIPE
           &kp DLLR   &kp LPAR  &kp MINUS  &kp RPAR  &kp HASH     &kp STAR     &mt LSHFT LBRC  &mt LCTRL UNDER  &mt LALT RBRC  &mt LGUI PLUS
&kp CARET  &kp BSLH   &kp EXCL  &kp COLON  &kp DOT   &kp TILDE    &kp PERCENT  &kp COMMA       &kp SEMI         &kp QUESTION   &kp SLASH      &kp AMPS
                                &trans     &trans    &mo 6        &trans       &trans          &trans
            >;
        };

        gaming_layer {
            bindings = <
          &kp TAB    &kp Q  &kp W     &kp E      &kp R    &trans      &trans     &kp UP    &trans     &kp TAB
          &kp LSHFT  &kp A  &kp S     &kp D      &kp F    &trans      &kp LEFT   &kp DOWN  &kp RIGHT  &kp RSHFT
&kp CAPS  &kp LCTRL  &kp Z  &kp X     &kp C      &kp B    &trans      &trans     &trans    &trans     &kp RCTRL  &trans
                            &kp LALT  &kp SPACE  &mo 5    &switch_en  &kp SPACE  &mo 6
            >;

            label = "GAM";
        };

        gaming_fn {
            bindings = <
        &kp I  &kp N1  &kp N2  &kp N3   &kp T     &kp ESC    &kp F1  &kp F2  &kp F3  &kp F10
        &kp M  &kp N4  &kp N5  &kp N6   &kp G     &kp ENTER  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &kp J  &kp N7  &kp N8  &kp N9   &kp B     &kp TAB    &kp F7  &kp F8  &kp F9  &kp F12  &kp F12
                       &kp N0  &kp RET  &trans    &trans     &trans  &trans
            >;

            label = "GAM_FN";
        };

        config_layer {
            bindings = <
              &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &kp ESC      &kp C_VOL_UP  &kp F7  &kp F8  &kp F9  &kp F12
              &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &kp ENTER    &kp C_VOL_DN  &kp F4  &kp F5  &kp F6  &kp F11
&bt BT_SEL 0  &trans        &trans        &out OUT_USB  &out OUT_BLE  &trans       &kp K_MUTE    &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                          &trans        &trans        &trans       &trans        &trans  &trans
            >;

            label = "CONF";
        };

        sim_ru_layer {
            label = "SYM_RU";
            bindings = <
             &kp GRAVE   &ruen LT  &kp EQUAL  &ruen GT  &ruen AT       &kp HASH     &ruen LBKT      &kp AT           &ruen RBKT     &ruen PIPE
             &ruen DLLR  &kp LPAR  &kp MINUS  &kp RPAR  &ruen HASH     &kp STAR     &mt LSHFT LBRC  &mt LCTRL UNDER  &mt LALT RBRC  &mt LGUI PLUS
&ruen CARET  &kp BSLH    &kp EXCL  &kp CARET  &kp FSLH  &ruen TILDE    &kp PERCENT  &kp QUESTION    &kp DLLR         &kp AMPS       &kp PIPE       &ruen AMPS
                                   &trans     &trans    &mo 6          &trans       &trans          &trans
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
           &kp GRAVE  &kp LT    &kp EQUAL  &kp GT     &kp AT       &enru HASH   &kp N7        &kp N8  &kp N9  &kp PIPE
           &sk LGUI   &sk LALT  &sk LCTRL  &sk LSHFT  &kp HASH     &kp STAR     &kp N4        &kp N5  &kp N6  &mt LGUI PLUS
&kp CARET  &kp BSLH   &kp EXCL  &kp COLON  &kp DOT    &kp TILDE    &kp PERCENT  &kp NUMBER_1  &kp N2  &kp N3  &kp SLASH      &kp AMPS
                                &trans     &trans     &trans       &mo 6        &kp N0        &trans
            >;
        };

        num_ru_layer {
            label = "NUM_RU";
            bindings = <
             &ruen GRAVE  &ruen LT  &kp EQUAL  &ruen GT   &ruen AT       &kp HASH     &kp N7        &kp N8  &kp N9  &ruen PIPE
             &sk LGUI     &sk LALT  &sk LCTRL  &sk LSHFT  &ruen HASH     &kp STAR     &kp N4        &kp N5  &kp N6  &mt LGUI PLUS
&ruen CARET  &kp BSLH     &kp EXCL  &kp CARET  &kp FSLH   &ruen TILDE    &kp PERCENT  &kp NUMBER_1  &kp N2  &kp N3  &kp PIPE       &ruen AMPS
                                    &trans     &trans     &trans         &mo 6        &kp N0        &trans
            >;
        };
    };
};
